/*导航栏*/
.nav-all{
    width: 100%;
    height: 38px;
    background-color:#f8f8f8;
}
/*导航栏居中块*/
.nav-all-center{
    width: 1200px;
    height: 38px;
    margin: auto;
    /*background-color: aqua;*/
}
/*话：全部商品分类*/
.all-list{
    width: 220px;
    height: 38px;
    float: left;

    /*background-color: #5dbe79;*/
}
.all-list p{
    margin-left: 4px;
    font-size: 16px;
    color: #666666;
    line-height: 38px;
    float: left;
}
.kuan{
    width: 20px;
    height: 20px;
    background-color: #DD00A7;
    float: right;
    margin-right: 4px;
    margin-top: 8px;
}
.list-all{
    width: 980px;
    height: 38px;
    float: left;
    letter-spacing: 8px;
    line-height: 38px;
}
.list-all .first-li{
    margin-left: 20px;
}
/*主体*/
#main{
    width: 1200px;
    height: 140px;
    background-color: #F8F8F8;
    margin: auto;
    margin-top: 10px;
}
/*红色标志*/
#space{
    width: 48px;
    height: 100%;
    margin-left: 10px;
    float: left;
}
/*红色文字*/
#space p{
    width: 48px;
    height: 40px;
    background-color: red;
    font-size: 14px;
    color: white;
    text-align: center;

}
/*首行商品-商品栏*/
.main-co{
    width: 1000px;
    height: 140px;
    position: relative;
    float: left;
    margin-left: 20px;
}
.main-co01{
    width: 250px;
    height: 140px;
    position: absolute;
}
.main-co01 img{
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 20px;
}
.main-co01-right{
    width: 140px;
    height: 140px;
    float: left;
    margin-left: 4px;
}
.main-co01-right .p01{
    width: 140px;
    font-size: 12px;
    margin-top: 20px;
    line-height: 16px;
    word-break: break-all;
    word-break: break-word;
}
.main-co01-right .p02{
    color: red;
    font-size: 12px;
    margin-top: 4px;
}
.main-co01-right button {
    width: 80px;
    background-color: white;
    color: #666666;
    margin-left: 10px;
    margin-top: 10px;
}
.main-co02{
    float: right;
}
.main-co02 img{
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 20px;
}
.main-co02-right{
    width: 140px;
    height: 140px;
    float: left;
    margin-left: 4px;
}
.main-co02-right .p01{
    width: 140px;
    font-size: 12px;
    margin-top: 20px;
    line-height: 16px;
    word-break: break-all;
    word-break: break-word;
}
.main-co02-right .p02{
    color: red;
    font-size: 12px;
    margin-top: 4px;
}
.main-co02-right button {
    width: 80px;
    background-color: white;
    color: #666666;
    margin-left: 10px;
    margin-top: 10px;
}

/*手机分类区盒子*/
.phone-hezi{
    width: 100%;
    height: 40px;
    background-color: #F8F8F8;
}
.a-phone {
    width: 1200px;
    height: 40px;
    margin: auto;

}
.a-phone p{
    display: inline-block;
}
#ph01{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}
/*手机分类栏*/
#phone-hezi02{
    width: 100%;
    height: 38px;
    /*background-color: #BCBCBC;*/
}
/*手机分类栏-居中*/
.hezi-center{
    width: 1200px;
    height: 38px;
    margin: auto;
    /*background-color: #8ac1db;*/
    line-height: 38px;
    font-size: 16px;
}
.hezi-center span{
    margin-left: 10px;
}
/*手机筛选*/
.phone-hezi03{
    width: 100%;
    height: 280px;
}
/*品牌*/
.ibm{
    height: 90px;
    width: 1200px;
    margin: auto;
}

/*品牌弹性盒子中间块*/
.tanhezi{
    width: 950px;
    margin:auto ;
    display: flex;
    justify-content: space-evenly;
}
.tanhezi img{
    width: 118px;
    height: 60px;
}
.air{
    width: 1200px;
    margin: auto;
    height: 10px;
    border-bottom: 1px solid #BCBCBC;
}
/*盒子之价格*/
.price{
    height: 30px;
    width: 1200px;
    margin: auto;
    margin-top: 14px;
}
.tanhezi02{
    height: 40px;
    line-height: 40px;
}
/*空白行*/
.air02{
    width: 100%;
    height: 40px;
}
/*主要手机筛选栏*/
.main-phion{
    width: 1200px;
    margin: auto;
    height: 1000px;
    /*background-color: #00bdd0;*/
}
/*左侧*/
.main-left{
    width: 198px;
    float: left;
    height: 1000px;
    /*background-color: #c3d946;*/
}
/*左侧头部*/
.left-top{
    height: 32px;
    width: 100%;
}
#top-p1{
    font-size: 16px;
    margin-left: 4px;
    margin-top: 4px;
    color: #5E5E5E;
    display: block;
    float: left;
}
#top-p2{
    font-size: 14px;
    margin-right: 10px;
    margin-top: 4px;
    color: #D9E7FF;
    display: block;
    float: right;
}
.phone-div{
    width: 200px;
    height: 200px;
    margin-top: 36px;

}
/*主体左侧图片*/
.phone-div img{
    display: block;
    margin: auto;
    width: 160px;
    height: 160px;
}
/*主体右侧*/
.main-rignt{
    width: 980px;
    float: right;
    height: 1000px;
    /*background-color: #c3d946;*/
}
/*右侧头部*/
.right-top{
    width: 100%;
    height: 26px;
    /*background-color: #F3F3F3;*/
    /*background-color: #00bdd0;*/
}
.air-03{
    width: 500px;
    height: 2px;
}
.hei5{
    width: 500px;
    height: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-left: 8px;
}
.xiaohe{
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.xiaohe01{
    background-color: red;
    color: white;
}
.xiaohe02:hover{
    border: 1px solid red;
}
/*右侧头部第二行*/
.right-top2{
    height: 26px;
    border: 1px solid #f3f3f3;
    padding: 4px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*选择块*/
.choice{
    width: 86px;
    margin-left: 8px;
    font-size: 14px;
    color: #5e5e5e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.choice2{
    width: 140px;
}
/*选择格*/
.ge{
    width: 14px;
    height: 14px;
    border: 1px solid red;
}
.ge2{
    width: 14px;
    height: 14px;
    border: 1px solid #888888;
}
/*右侧主体块*/
.right-main01{
    width: 980px;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
}
.main01{
    width: 240px;
    height: 320px;
    margin-left: 20px;
    font-size: 14px;
}