/*全体样式*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
    display: inline-block;
}
/*首页顶部*/
.top{
    height: 80px;
    background-color: rgb(223,91,19);
}
/*首页广告行*/
.top-ad{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
/*首页导航标签*/
.nav-title{
    height: 31px;
    background-color: #F8F8F8;
}
/*首页导航居中块*/
.nav-center{
    width: 1200px;
    height: 100%;
    /*div水平居中*/
    margin: 0 auto;
}
.nav-center a{
    color: #888888;
}
/*首页导航居中模块左侧*/
.nav-center-left{
    /*文字垂直居中*/
    vertical-align: middle;
    float: left;
}
.nav-center-left span{
    margin-left: 10px;
}
/*文字特殊颜色*/
#nav-center-left-sp a{
    color: red;
}
/*首页导航居中模块右侧*/
.nav-center-right{
    float: right;
    vertical-align: middle;
}
.nav-center-right span{
    margin-right: 10px;
}
/*搜索局域*/
.seek{
    height: 120px;
    /*background-color: aqua;*/

}
.seek-center{
    height: 120px;
    width: 1200px;
    margin: 0 auto;
    line-height: 120px;
}
/*图标*/
.logo img{
    width: 170px;
    height: 76px;
    vertical-align: middle;
    margin-top: 22px;
    float: left;
}
/*中间搜索框外框*/
/*.sekk-inp-ceter-air{*/
/*width: 500px;*/
/*height: 52px;*/
/*position: relative;*/
/*}*/
/*中间搜索框*/
.seek-inp-center{
    width: 500px;
    height: 60px;
    margin-top: 36px;
    margin-left: 274px;
    /*background-color: chartreuse;*/
    float: left;

    /*position: relative;*/
}
/*中间搜索框上部*/
.seek-inp-center-tree{
    width: 500px;
    height: 34px;
    /*border: 1px solid #DD00A7;*/
    /*行高问题导致行内元素溢出*/
    line-height: 0px;
    /*position: absolute;*/
}
/*搜索下来单*/
.seek-inp-center-tree #select04{
    width: 63px;
    height: 34px;
    /*绝对定位*/
    /*position: absolute;*/
    background-color: #fff;
    color: #888888;
    border: 1px solid #DD00A7;
}
/*搜索输入框*/
#inp01{
    width: 340px;
    height: 32px;
    border: 1px solid #DD00A7;
    /*position: absolute;*/
    /*float: left;*/
}
#inp02{
    width: 63px;
    height: 34px;
    border: 1px solid #DD00A7;
}
/*搜索文本标签*/
.text-title{
    height: 18px;
    font-size: 12px;
    /*background-color: #DD00A7;*/
    line-height: 16px;
}
.text-title a{
    margin-left: 6px;
}
/*中间区域购物车*/
.seek-right{
    width: 140px;
    height: 40px;
    background-color: #DD00A7;
    position: absolute;
    margin-left: 1000px;
    margin-top: 40px;
    line-height: 40px;
}
.seek-right a{
    color: white;
    margin-left: 20px;

}

/*主页主体区域*/
.main{
    width: 100%;
    height: 450px;
    background-color: #5A68F8;
}
/*主体区居中div*/
.main-center{
    width: 1200px;
    height: 450px;
    background-color: #F8F8F8;
    margin: 0 auto;
}
/*主体区居中头部*/
.main-center-top{
    width: 100%;
    height: 40px;
}
/*主体区居中头部左侧*/
.main-center-top-left{
    width: 200px;
    height: 40px;
    background-color: #f1f1f1;
    float: left;
}
/*主体区居中头部左侧文字*/
.main-center-top-left p{
    font-size: 16px;
    text-align: center;
    padding-top: 12px;
}
/*主体区居中头部居中区域*/
.main-center-top-center{
    width: 800px;
    height: 40px;
    background-color:#f8f8f8 ;
    float: left;
}
/*主体区居中头部居中文字*/
.main-center-top-center p{
    /*块级元素转换为行内元素*/
    display: inline-block;
    /*text-align: center;*/
    padding-top: 12px;
    margin-left: 20px;
}
/*主体区居中头部右侧*/
.main-center-top-right{
    width: 170px;
    height: 40px;
    float: left;
}
/*主体区居中主体左侧*/
.main-center-body-left{
    width: 200px;
    height: 410px;
    float: left;
}
/*主体区居中主体左侧P标签*/
.main-center-body-left p{
    margin-top: 6px;
}
/*主体区居中主体轮播图*/
.main-center-body-lunbo{
    width: 750px;
    height: 410px;
    float: left;
}
.main-center-body-lunbo img{
    width: 750px;
    height: 410px;
}
/*主体区居中主体右侧*/
.main-center-body-right{
    width: 250px;
    height: 430px;
    float: left;
}
/*主体区居中主体右侧上部-*/
.main-center-body-right-top{
    width: 220px;
    height: 36px;
    margin: 0 auto;
}
.main-center-body-right-top p{
    display: inline-block;
}
.main-center-body-right-top #p1{
    float: left;
}
.main-center-body-right-top #p2{
    float: right;
    font-size: 12px;
}
/*主体区居中主体右侧列表*/
.main-center-body-right-li{
    width: 220px;
    margin:0 auto;
    font-size: 14px;
}
#li03 a{
    font-size: 12px;
}
/*主体区居中主体右侧中间*/
.main-center-body-right-center{
    width: 250px;
    height: 167px;
    background-color: #DD00A7;
}
/*主体区居中主体右侧图片*/
.main-center-body-right-img img{
    width: 250px;
    height: 130px;
}